<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.github.jxc.dao.OrderDao">
  <resultMap id="BaseResultMap" type="com.github.jxc.pojo.Order">
    <id column="order_id" jdbcType="INTEGER" property="orderId" />
    <result column="type" jdbcType="VARCHAR" property="type" />
    <result column="date" jdbcType="DATE" property="date" />
    <result column="supplier_id" jdbcType="INTEGER" property="supplierId" />
    <result column="warehouse_id" jdbcType="INTEGER" property="warehouseId" />
    <result column="operator_id" jdbcType="INTEGER" property="operatorId" />
    <result column="goods_id" jdbcType="INTEGER" property="goodsId" />
    <result column="amount" jdbcType="INTEGER" property="amount" />
    <result column="order_status" jdbcType="VARCHAR" property="orderStatus" />
    <result column="created_at" jdbcType="TIMESTAMP" property="createdAt" />
    <result column="updated_at" jdbcType="TIMESTAMP" property="updatedAt" />
  </resultMap>
  <sql id="Base_Column_List">
    order_id, type, date, supplier_id, warehouse_id, operator_id, goods_id, amount, order_status, 
    created_at, updated_at
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from order
    where order_id = #{orderId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from order
    where order_id = #{orderId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.github.jxc.pojo.Order">
    insert into order (order_id, type, date, 
      supplier_id, warehouse_id, operator_id, 
      goods_id, amount, order_status, 
      created_at, updated_at)
    values (#{orderId,jdbcType=INTEGER}, #{type,jdbcType=VARCHAR}, #{date,jdbcType=DATE}, 
      #{supplierId,jdbcType=INTEGER}, #{warehouseId,jdbcType=INTEGER}, #{operatorId,jdbcType=INTEGER}, 
      #{goodsId,jdbcType=INTEGER}, #{amount,jdbcType=INTEGER}, #{orderStatus,jdbcType=VARCHAR}, 
      #{createdAt,jdbcType=TIMESTAMP}, #{updatedAt,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.github.jxc.pojo.Order">
    insert into order
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="orderId != null">
        order_id,
      </if>
      <if test="type != null">
        type,
      </if>
      <if test="date != null">
        date,
      </if>
      <if test="supplierId != null">
        supplier_id,
      </if>
      <if test="warehouseId != null">
        warehouse_id,
      </if>
      <if test="operatorId != null">
        operator_id,
      </if>
      <if test="goodsId != null">
        goods_id,
      </if>
      <if test="amount != null">
        amount,
      </if>
      <if test="orderStatus != null">
        order_status,
      </if>
      <if test="createdAt != null">
        created_at,
      </if>
      <if test="updatedAt != null">
        updated_at,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="orderId != null">
        #{orderId,jdbcType=INTEGER},
      </if>
      <if test="type != null">
        #{type,jdbcType=VARCHAR},
      </if>
      <if test="date != null">
        #{date,jdbcType=DATE},
      </if>
      <if test="supplierId != null">
        #{supplierId,jdbcType=INTEGER},
      </if>
      <if test="warehouseId != null">
        #{warehouseId,jdbcType=INTEGER},
      </if>
      <if test="operatorId != null">
        #{operatorId,jdbcType=INTEGER},
      </if>
      <if test="goodsId != null">
        #{goodsId,jdbcType=INTEGER},
      </if>
      <if test="amount != null">
        #{amount,jdbcType=INTEGER},
      </if>
      <if test="orderStatus != null">
        #{orderStatus,jdbcType=VARCHAR},
      </if>
      <if test="createdAt != null">
        #{createdAt,jdbcType=TIMESTAMP},
      </if>
      <if test="updatedAt != null">
        #{updatedAt,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.github.jxc.pojo.Order">
    update order
    <set>
      <if test="type != null">
        type = #{type,jdbcType=VARCHAR},
      </if>
      <if test="date != null">
        date = #{date,jdbcType=DATE},
      </if>
      <if test="supplierId != null">
        supplier_id = #{supplierId,jdbcType=INTEGER},
      </if>
      <if test="warehouseId != null">
        warehouse_id = #{warehouseId,jdbcType=INTEGER},
      </if>
      <if test="operatorId != null">
        operator_id = #{operatorId,jdbcType=INTEGER},
      </if>
      <if test="goodsId != null">
        goods_id = #{goodsId,jdbcType=INTEGER},
      </if>
      <if test="amount != null">
        amount = #{amount,jdbcType=INTEGER},
      </if>
      <if test="orderStatus != null">
        order_status = #{orderStatus,jdbcType=VARCHAR},
      </if>
      <if test="createdAt != null">
        created_at = #{createdAt,jdbcType=TIMESTAMP},
      </if>
      <if test="updatedAt != null">
        updated_at = #{updatedAt,jdbcType=TIMESTAMP},
      </if>
    </set>
    where order_id = #{orderId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.github.jxc.pojo.Order">
    update order
    set type = #{type,jdbcType=VARCHAR},
      date = #{date,jdbcType=DATE},
      supplier_id = #{supplierId,jdbcType=INTEGER},
      warehouse_id = #{warehouseId,jdbcType=INTEGER},
      operator_id = #{operatorId,jdbcType=INTEGER},
      goods_id = #{goodsId,jdbcType=INTEGER},
      amount = #{amount,jdbcType=INTEGER},
      order_status = #{orderStatus,jdbcType=VARCHAR},
      created_at = #{createdAt,jdbcType=TIMESTAMP},
      updated_at = #{updatedAt,jdbcType=TIMESTAMP}
    where order_id = #{orderId,jdbcType=INTEGER}
  </update>
</mapper>