<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper   
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"  
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.github.jxc.dao.ReturnPreviewDao">
	<resultMap type="com.github.jxc.pojo.ReturnPreview" id="BaseResultMap">
		<id column="return_id" property="returnId" jdbcType="VARCHAR" />
		<result column="return_time" property="returnTime" jdbcType="TIMESTAMP"/>
		<result column="warehouse_id" property="warehouseId" jdbcType="INTEGER"/>
		<result column="store_id" property="storeId" jdbcType="INTEGER"/>
		<result column="return_num" property="returnNum" jdbcType="INTEGER"/>
		<result column="return_money" property="returnMoney" jdbcType="FLOAT"/>
		<result column="operater" property="operater" jdbcType="INTEGER"/>
		<result column="return_status" property="returnStatus" jdbcType="VARCHAR"/>
		<association property="warehouse" javaType="com.github.jxc.pojo.Warehouse">
			<id column="warehouse_id" property="warehouseId" jdbcType="INTEGER"/>
			<result column="warehouse_name" property="warehouseName" jdbcType="VARCHAR"/>
			<result column="linkman" property="linkman" jdbcType="VARCHAR"/>
			<result column="phone_number" property="phoneNumber" jdbcType="VARCHAR"/>
			<result column="warehouse_address" property="warehouseAddress" jdbcType="VARCHAR"/>
			<result column="stock_min" property="stockMin" jdbcType="VARCHAR"/>
			<result column="stock_max" property="stockMax" jdbcType="VARCHAR"/>
			<result column="created_at" property="createdAt" jdbcType="TIMESTAMP"/>
			<result column="updated_at" property="updatedAt" jdbcType="TIMESTAMP"/>
		</association>
		<association property="store" javaType="com.github.jxc.pojo.Store">
			<id column="store_id" property="storeId" jdbcType="INTEGER"/>
			<result column="store_name" property="storeName" jdbcType="VARCHAR"/>
			<result column="linkman" property="linkman" jdbcType="VARCHAR"/>
			<result column="phone_number" property="phoneNumber" jdbcType="VARCHAR"/>
			<result column="store_address" property="storeAddress" jdbcType="VARCHAR"/>
			<result column="stock_min" property="stockMin" jdbcType="VARCHAR"/>
			<result column="stock_max" property="stockMax" jdbcType="VARCHAR"/>
			<result column="created_at" property="createdAt" jdbcType="TIMESTAMP"/>
			<result column="updated_at" property="updatedAt" jdbcType="TIMESTAMP"/>
		</association>
	</resultMap>
	<sql id="Base_Column_List">
		return_id,return_time,warehouse_id,store_id,return_num,return_money,operater,return_status
	</sql>
	
	<insert id="insertSelective" parameterType="com.github.jxc.pojo.ReturnPreview">
		insert into return_preview
		<trim prefix="(" suffix=")" suffixOverrides=",">
	     <if test="returnId != null">
	     	return_id,
	     </if>
	     <if test="returnTime == null">
	       return_time,
	     </if>
	     <if test="warehouseId != null">
	       warehouse_id,
	     </if>	     
	     <if test="storeId != null">
	       store_id,
	     </if>
	     <if test="returnNum != null">
	       return_num,
	     </if>
	     <if test="returnMoney != null">
	       return_money,
	     </if>
	     <if test="operater != null">
	       operater,
	     </if>
	     <if test="returnStatus != null">
	       return_status,
	     </if>
	   </trim>
	   <trim prefix="values (" suffix=")" suffixOverrides=",">
	     <if test="returnId != null">
	       #{returnId,jdbcType=VARCHAR},
	     </if>
	     <if test="returnTime == null">
	       sysdate(),
	     </if>
	     <if test="warehouseId != null">
	       #{warehouseId,jdbcType=INTEGER},
	     </if>	     
	     <if test="storeId != null">
	       #{storeId,jdbcType=INTEGER},
	     </if>
	     <if test="returnNum != null">
	       #{returnNum,jdbcType=INTEGER},
	     </if>
	     <if test="returnMoney != null">
	       #{returnMoney,jdbcType=FLOAT},
	     </if>
	     <if test="operater != null">
	       #{operater,jdbcType=INTEGER},
	     </if>
	     <if test="returnStatus != null">
	       #{returnStatus,jdbcType=VARCHAR},
	     </if>
	   </trim>
	</insert>
	
	<select id="selectByStatus" resultMap="BaseResultMap" parameterType="java.lang.String">
		select *
		from return_preview rp ,warehouse w ,store s
		where rp.return_status = #{returnStatus,jdbcType=VARCHAR} and rp.warehouse_id = w.warehouse_id and rp.store_id = s.store_id
		order by return_time desc
	</select>
	
	<select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String">
		select *
		from return_preview rp, warehouse w, store s
		where rp.return_id = #{returnId,jdbcType=VARCHAR} and rp.warehouse_id = w.warehouse_id and rp.store_id = s.store_id
	</select>
	
	<update id="updateByPrimaryKeySelective" parameterType="com.github.jxc.pojo.ReturnPreview">
		update return_preview
		<set>
		 <if test="returnStatus != null">
	       return_status = #{returnStatus,jdbcType=VARCHAR}
	     </if>	     
		</set>
		where return_id = #{returnId,jdbcType=VARCHAR}
	</update>
	
	<delete id="deleteByPrimartKey" parameterType="java.lang.String">
		delete from return_preview
		where return_id = #{returnId,jdbcType=VARCHAR}
	</delete>
	
	<select id="selectByNotStatus" resultMap="BaseResultMap" parameterType="java.lang.String">
		select *
		from return_preview rp ,warehouse w ,store s
		where rp.return_status != #{returnStatus,jdbcType=VARCHAR} and rp.warehouse_id = w.warehouse_id and rp.store_id = s.store_id
		order by return_time desc
	</select>
</mapper>