<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.github.jxc.dao.StockDetailDao">
  <resultMap id="BaseResultMap" type="com.github.jxc.pojo.StockDetail">
    <id column="warehouse_id" jdbcType="INTEGER" property="warehouseId" />
    <id column="goods_id" jdbcType="INTEGER" property="goodsId" />
    <result column="goods_stock" jdbcType="INTEGER" property="goodsStock" />
  	 <association property="goods" javaType="com.github.jxc.pojo.Goods">
			<id column="GoodsId" property="goodsId" jdbcType="INTEGER" />
			<result column="GoodsName" property="goodsName" jdbcType="VARCHAR"/>
			<result column="GoodsBarcode" property="goodsBarcode" jdbcType="VARCHAR"/>
			<result column="GoodsTypeName" property="goodsTypeName" jdbcType="VARCHAR"/>
			<result column="BrandName" property="brandName" jdbcType="VARCHAR"/>
			<result column="BuyingPrice" property="buyingPrice" jdbcType="FLOAT"/>
			<result column="SupplyPrice" property="supplyPrice" jdbcType="FLOAT"/>
			<result column="SalePrice" property="salePrice" jdbcType="FLOAT"/>
			<result column="GoodsDate" property="goodsDate" jdbcType="TIMESTAMP"/>
			<result column="Uint" property="uint" jdbcType="VARCHAR"/>
			<result column="Spec" property="spec" jdbcType="VARCHAR"/>
			<result column="GoodsStatus" property="goodsStatus" jdbcType="VARCHAR"/>
			<result column="GoodsPic" property="goodsPic" jdbcType="VARCHAR"/>
			<result column="Manufacturer" property="manufacturer" jdbcType="VARCHAR"/>
			<result column="GoodsSource" property="goodsSource" jdbcType="VARCHAR"/>
			<result column="Details" property="details" jdbcType="VARCHAR"/>
		</association>
		<association property="warehouse" javaType="com.github.jxc.pojo.Warehouse">
			  <id column="warehouse_id" property="warehouseId" jdbcType="INTEGER" />
			<result column="warehouse_name" property="warehouseName"
				jdbcType="VARCHAR" />
			<result column="linkman" property="linkman" jdbcType="VARCHAR" />
			<result column="phone_number" property="phoneNumber" jdbcType="VARCHAR" />
			<result column="warehouse_address" property="warehouseAddress"
				jdbcType="VARCHAR" />
			<result column="stock_min" property="stockMin" jdbcType="VARCHAR" />
			<result column="stock_max" property="stockMax" jdbcType="VARCHAR" />
			<result column="created_at" property="createdAt" jdbcType="TIMESTAMP" />
			<result column="updated_at" property="updatedAt" jdbcType="TIMESTAMP" />
  	</association>
  </resultMap>
  <sql id="Base_Column_List">
    warehouse_id, goods_id, goods_stock
  </sql>
  <select id="selectByPrimaryKey" parameterType="com.github.jxc.pojo.StockDetailKey" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from stock_detail
    where warehouse_id = #{warehouseId,jdbcType=INTEGER}
      and goods_id = #{goodsId,jdbcType=INTEGER}
  </select>
  <select id="selectByWarehouseId" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    *
    from stock_detail sd,tb_goods tg
    where warehouse_id = #{warehouseId,jdbcType=INTEGER} and sd.goods_id=tg.GoodsId
  </select>
  <select id="selectAllStock"  resultMap="BaseResultMap">
    SELECT 
    *
    FROM stock_detail sd,tb_goods tg,warehouse w
    WHERE  sd.goods_id=tg.GoodsId AND sd.warehouse_id=w.warehouse_id
    ORDER BY warehouse_name
  </select>
  <delete id="deleteByPrimaryKey" parameterType="com.github.jxc.pojo.StockDetailKey">
    delete from stock_detail
    where warehouse_id = #{warehouseId,jdbcType=INTEGER}
      and goods_id = #{goodsId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.github.jxc.pojo.StockDetail">
    insert into stock_detail (warehouse_id, goods_id, goods_stock
      )
    values (#{warehouseId,jdbcType=INTEGER}, #{goodsId,jdbcType=INTEGER}, #{goodsStock,jdbcType=INTEGER}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.github.jxc.pojo.StockDetail">
    insert into stock_detail
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="warehouseId != null">
        warehouse_id,
      </if>
      <if test="goodsId != null">
        goods_id,
      </if>
      <if test="goodsStock != null">
        goods_stock,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="warehouseId != null">
        #{warehouseId,jdbcType=INTEGER},
      </if>
      <if test="goodsId != null">
        #{goodsId,jdbcType=INTEGER},
      </if>
      <if test="goodsStock != null">
        #{goodsStock,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.github.jxc.pojo.StockDetail">
    update stock_detail
    <set>
      <if test="goodsStock != null">
        goods_stock = #{goodsStock,jdbcType=INTEGER},
      </if>
    </set>
    where warehouse_id = #{warehouseId,jdbcType=INTEGER}
      and goods_id = #{goodsId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.github.jxc.pojo.StockDetail">
    update stock_detail
    set goods_stock = #{goodsStock,jdbcType=INTEGER}
    where warehouse_id = #{warehouseId,jdbcType=INTEGER}
      and goods_id = #{goodsId,jdbcType=INTEGER}
  </update>
</mapper>